@import '../../variables.scss';

.select-past {
  @extend %Ubuntu-Regular;
  font-size: 16px;
 &__wrapper {
   z-index: 1;
   position: relative;
 }
 
 &__date {
    line-height: 24px;
    color: $secondColor;
    width: 252px;
    padding: 10px 16px;
    margin-bottom: 33px;
    background: rgba(128, 131, 164, 0.06);
    border: 2px solid rgba(128, 131, 164, 0.2);
    border-radius: 8px;
    &:focus {
      border: 2px solid #373AF5;
    }
    &:focus-visible {
      border: 2px solid #373AF5;
      outline: none;
    }
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../../assets/images/select-date.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 20px top 50%, 0 0;
    &--active {
      color: $mainColor;
    }
 }

 &__placeholder {
  z-index: -1;
   position: absolute;
   top: 16px;
   left: 19px;
   color: $secondColor;
 }

 .select-past__date::-webkit-calendar-picker-indicator {
  opacity: 0;
 };
 .select-past__date::-webkit-datetime-edit-day-field {
  opacity: 0;
 }
 .select-past__date::-webkit-datetime-edit-year-field {
  opacity: 0;
 }
 .select-past__date::-webkit-datetime-edit-month-field {
  opacity: 0;
 }
 .select-past__date::-webkit-datetime-edit-text {
  opacity: 0;
 }

 &__hide-placeholder {
  .select-past__placeholder {
    display: none;
  }
 } 

 &__hide-placeholder {
  .select-past__date::-webkit-datetime-edit-day-field {
    opacity: 1;
   }
   .select-past__date::-webkit-datetime-edit-year-field {
    opacity: 1;
   }
   .select-past__date::-webkit-datetime-edit-month-field {
    opacity: 1;
   }
   .select-past__date::-webkit-datetime-edit-text {
    opacity: 1;
   }
 } 


}

