@import '../../variables.scss';

.card-forcast {
  position: relative; // for arrows
  margin: 0 auto;
  width: 300px;
  padding: 32px 24px 63px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  margin-bottom: 10px;
  &--future {
    height: 486px;
    @media (min-width: 768px) {
      height: 524px;
    }
  }
  &--past {
    height: 601px;
    @media (min-width: 768px) {
      height: 524px;
    }
  }
  &__title {
    font-size: 32px;
    margin-bottom: 32px;
    &--left {
      text-align: left;
    }
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__placeholder {
    margin-bottom: 24px;
  }
  &__text {
    color: $secondColor;
    font-size: 16px;
    line-height: 24px;
  }
  &__wrapper {
    overflow-x: scroll;
    margin-right: -24px;
    @media (min-width: 768px) {
      overflow-x: auto;
     }
  }
  &__overflow {
    display: flex;
    width: 1250px;
    @media (min-width: 768px) {
     width: unset;
    }
  }
  @media (min-width: 768px) {
    width: 660px;
    padding: 50px 58px 63px;
    margin-bottom: 34px;
  }

  .arrow {
    position: absolute;
    top: 65%;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    &--disabled {
      opacity: .5;
      cursor: unset;
    }
    &.arrow-prev {
      left: 20px;
      &::before {
        display: block;
        content: ' ';
        background-image: url('../../assets/images/slide-arrow.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
        transform: rotate(180deg);
      }
    }
    &.arrow-next {
      right: 20px;
      &::before {
        display: block;
        content: ' ';
        background-image: url('../../assets/images/slide-arrow.svg');
        background-size: 28px 28px;
        height: 28px;
        width: 28px;
      }
    }
  }
}